body {
    font-family: "Maven Pro", sans-serif;
    background-color: #000000;;
    color: white;
    margin: 0;
    min-height: 100vh;
    place-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 20px;
}


img {
    --s: 20px; /* size of the frame */
    --b: 2px; /* border thickness */
    --w: 300px; /* width of the image */
    --c: #D3BB41;

    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2 * var(--s));
    --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
    background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w) / 2) solid #0009;
    outline-offset: calc(var(--w) / -2 - 2 * var(--s));
    transition: .4s;
    cursor: pointer;
}

img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s) / -2);
    --_i: calc(100% - 2 * var(--s));
}

a {
    max-width: 500px;
}

#subtitle {
    text-align: center;
    color: #E4C1F9;
}

.contenu {
    color: antiquewhite;
}

#email {
    color: cornflowerblue;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    color: #D3BB41;
    font-size: 45px;
}

h2 {
    text-align: center;
    color: #9AD8B7;
    font-size: 30px;
}

li {
    list-style-position: inside;
    text-align: center;
}

header {
    text-align: center;
    height: auto;
}

.background {
    background-image: url("/images/ville.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

footer {
    align-items: center;
    background-color: dimgray;
    bottom: 0;
    color: #D3BB41;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.footer-css {
    margin-bottom: 20px;
}

section {
    min-height: 100vh;
    padding-bottom: 45px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.liens {
    color: #9AD8B7;
    text-transform: uppercase;
    text-decoration: none !important;
}


